.tank-view {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
  max-height: 87vh;
  margin-top: -10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tank-form-status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 30px;
}

.tank-form {
  overflow-x: hidden;
  position: relative;
}

.tank-form .ant-badge-status-processing {
  background-color: #ec6e68;
}

.tank-form .ant-badge-status-processing::after {
  border-color: #ec6e68;
}

.tank-context {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.tank-form-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 415px;
}
