.logout-items a span {
  margin-left: 10px;
  text-align: justify;
}

.logout-items a {
  color: #4c4c4c;
  font-size: 1em;
  display: inline-table;
  padding: 1.15em;
  font-weight: bold;
  text-decoration: none;
}

.logout-items a:hover {
  color: #538aef;
  transition: all 0.3s;
}

.menu-icon {
  margin-right: 10px;
}

.sub-menu-class {
  display: none;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 45px;
  top: 10px;
  transform: scale(0.5);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #538aef;
  transition: all 0.3s;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  display: none;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 1em 1em 0;
  padding-top: 50px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #c9cccc;
}

/* Wrapper for item list */
.bm-item-list {
  color: #4c4c4c;
}

.nav-bar {
  position: fixed;
  background-color: #538aef;
  width: 100%;
  height: 70px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.06);
  z-index: 10;
  text-decoration: none !important;
}

.nav-bar span {
  font-size: 22px;
  text-decoration: none !important;
  color: #538aef;
  float: right;
  padding-top: 8px;
  padding-right: 5px;
  font-weight: bold;
}

.nav-bar span a:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

.bm-item-list {
  width: 280px !important;
}

.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span {
  position: absolute;
  top: -5px;
}

.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span {
  user-select: none;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  user-select: none;
}

.un-auth {
  background: #538aef;
}

.nav {
  position: fixed;
  height: 50px;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 100;
}

.omega {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-right: ghostwhite 2px solid;
  text-align: center;
  padding-top: 12px;
}

.search .ant-input {
  border-width: 0px;
  border: none;
  border-color: #f0f1f200 !important;
  box-shadow: none !important;
  outline: none !important;
}

.search .ant-input:visited {
  border-color: #f0f1f200 !important;
  box-shadow: none !important;
  outline: none !important;
}

.search .ant-input:focus {
  border: none !important;
  box-shadow: none;
  outline: none !important;
  border-radius: 0px;
  border-bottom: 1px solid rgb(158, 158, 158) !important;
  outline: 0;
}

.search .ant-input:hover {
  border: none !important;
  box-shadow: none;
  outline: none !important;
  border-radius: 0px;
  border-bottom: 1px solid rgb(243, 243, 243) !important;
  outline: 0;
}
