.search .ant-input {
  border-width: 0px;
  border: none;
  border-color: #f0f1f200 !important;
  box-shadow: none !important;
  outline: none !important;
}

.search .ant-input:visited {
  border-color: #f0f1f200 !important;
  box-shadow: none !important;
  outline: none !important;
}

.search .ant-input:focus {
  border: none !important;
  box-shadow: none;
  outline: none !important;
  border-radius: 0px;
  border-bottom: 1px solid rgb(158, 158, 158) !important;
  outline: 0;
}

.search .ant-input:hover {
  border: none !important;
  box-shadow: none;
  outline: none !important;
  border-radius: 0px;
  border-bottom: 1px solid rgb(243, 243, 243) !important;
  outline: 0;
}
