.breadcrumbs {
  padding-top: 55px;
  padding-left: 25px;
  color: #36393f;
  font-size: 25px;
  user-select: none !important;
  transition: all 0.3s;
  display: flex;
  pointer-events: none;
}

.ant-page-header {
  background-color: #fafafa00;
}

.ant-page-header-title-view-title {
  color: #68a4ec;
}
