.container {
  padding: 10px;
  box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  background-color: #fff;
  border: 1px solid #68a3ec28;
  border-radius: 8px;
}

.container .tag {
  border-color: #68a4ec;
  background-color: #fff;
  color: #68a4ec;
}
