.app .content {
  background: "#fff";
  padding: 1vh;
  margin: 0;
  min-height: 280;
}

.loader {
  margin-left: 256px;
  background-color: #68a4ec;
}

.loader-collapsed {
  margin-left: 80px;
  background-color: #68a4ec;
}
