.app .content {
  background: '#fff';
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.loader {
  margin-left: 256px;
  background-color: #68a4ec;
}

.loader-collapsed {
  margin-left: 80px;
  background-color: #68a4ec;
}
