.search-tab {
  padding: 10px;
}

.multi-select-tab {
  padding: 10px;
}

.ag-theme-balham .ag-menu {
  border-radius: 0px !important;
}

.ag-theme-balham.ag-popup > div:not(.ag-tooltip-custom) {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.061) !important;
}

.filter-footer {
  display: flex;
  justify-content: space-between;
}

.filter-header {
  margin-bottom: 5px;
  font-family: 'Lato Bold', sans-serif !important;
  color: rgba(0, 0, 0, 0.54);
}

.ag-theme-balham * {
  font-family: 'Lato', sans-serif;
}

.filter-checkbox {
  padding-bottom: 10px;
  max-height: 500px;
  overflow-y: scroll;
}

.cell-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 5px;
}

.ag-theme-balham .ag-row-selected {
  background-color: #68a3ec1c;
}
