.tank-view {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
  max-height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tank {
  flex-grow: 1;
  margin: 5px;
  width: 400px;
  height: 250px;
  transition: all 0.3s;
  border: 1px solid #538aef36;
}

.tank:hover {
  border: 1px solid #538aef83;
  box-shadow: 0 10px 10px 0 #538aef1a;
}

.titles {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
}

.tank-status {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  justify-content: space-around;
}
