/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	src:url("../assets/fonts/Garuda.ttf");
	fontFamily: ThaiFontFamilyGaruda;
	embedAsCFF: true;
}

@font-face {
	src:url("../assets/fonts/Garuda-Bold.ttf");
	fontFamily: ThaiFontFamilyGaruda;
	fontWeight: bold;
	embedAsCFF: true;
}

/*
s|Application {
	fontFamily: ThaiFontFamilyGaruda;
	fontSize: 12;
}     
*/

.global{
	modalTransparency:0.8;
	modalTransparencyBlur:2;
	modalTransparencyColor:0;
	modalTransparencyDuration:200;
	
	
}
mx|ToolTip
{
	backgroundAlpha: 0.8;
	backgroundColor: cream;
	color: white;
	cornerRadius: 5;
	fontSize: 13;
}

mx|DateField 
{
	borderStyle: none;
	backgroundAlpha: 0;
	date-chooser-style-name: "date_chooser";
}

.date_chooser 
{
	cornerRadius: 8;
	dropShadowEnabled: true;			
	headerColors: #346B9B, #EEEEEE;	
	borderThickness: 1;
	backgroundAlpha: 0.76;
}

s|DropDownList
{
	skinClass:ClassReference("skins.DKI_DropDownList_Skin");
	fontFamily: ThaiFontFamilyGaruda;
	/* fontSize:12.5; */
}

s|DataGrid
{
	skinClass:ClassReference("skins.DKI_DataGrid_Skin");
	/*chrome-color: #DEEBFF;
	color: #444444;
	content-background-color: #FFFFFF;
	symbol-color: #333333;
	roll-over-color: #EBF4FF;
	selection-color: #DEEBFF;
	focus-color: #EEEEEE;
	accent-color: #C0E3FF;*/
}

s|DefaultGridHeaderRenderer
{
	lowlight:#ff0000;
}

s|VScrollBar
{
	width:10;	
}

s|HScrollBar
{
	height:10;
}

mx|ToggleButtonBar 
{
	buttonStyleName: "mytoggleButtonBarButtonStyle";
}

.mytoggleButtonBarButtonStyle 
{
	fillColors: #3366ff, #6699ff, #3399ff, #0033ff;
	color: #000000;
	themeColor: #0000ff;
}

s|ComboBox
{
	fontFamily: ThaiFontFamilyGaruda;
}

s|DefaultGridItemRenderer {
	fontFamily: ThaiFontFamilyGaruda;
}     

s|TextInput
{
	fontFamily: ThaiFontFamilyGaruda;
}

s|Label
{
	fontFamily: ThaiFontFamilyGaruda;
}

s|TextArea
{
	fontFamily: ThaiFontFamilyGaruda;
}

