.ant-table-tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-table-thead > tr > th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  text-align: center;
  max-width: 100px;
  min-width: 100px;
}

.ant-drawer-header {
  padding: 24px 24px;
  background-color: #538aef;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.06);
  border-radius: 0px;
  z-index: 15;
}

.ant-drawer-title {
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.ant-btn-primary.disabled,
.ant-btn-primary[disabled],
.ant-btn-primary.disabled:hover,
.ant-btn-primary[disabled]:hover,
.ant-btn-primary.disabled:focus,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary.disabled:active,
.ant-btn-primary[disabled]:active,
.ant-btn-primary.disabled.active,
.ant-btn-primary[disabled].active {
  color: #c9c9c9;
  background-color: rgba(0, 0, 0, 0.021) !important;
  border: 1px solid transparent !important;
}

.ant-drawer-close {
  color: white;
}

.ant-drawer-close-x {
  margin-top: 8px;
}

.ant-input-disabled {
  background-color: #f5f5f56b;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0);
}

.ant-btn-primary {
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #43454a1f;
  color: #68a4ec;
  box-shadow: none;
}

.ant-btn-primary:hover {
  background-color: #68a4ec;
}

.ant-btn-primary:active,
.ant-btn-primary.active {
  background-color: #68a4ec;
  border: 1px solid #43454a1f;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #68a4ec;
  border: 1px solid #43454a1f;
}

.ant-notification-notice {
  margin-right: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.06);
  border: 1px solid #68a3ec28;
}

.ant-notification-notice-message {
  color: #36393f;
}

.ant-btn {
  border-radius: 30px;
}

.ant-form-item {
  margin-bottom: 0px !important;
}
