@font-face {
  font-family: "Economica";
  src: url("../fonts/economica.woff2") format("woff2");
}

body {
  font-family: "Economica", sans-serif !important;
  background-color: #fff;
  margin: 0px;
}

::-webkit-scrollbar {
  height: 13px;
  transition: all 0.3s;
  background-color: #538aef1e;
}

::-webkit-scrollbar-thumb {
  background-color: #a1bef3;
}
