.submit-button {
  background-color: #538aef !important;
  border-color: #538aef !important;
  transition: all 0.3s;
  border-radius: 0px !important;
}

.submit-button:hover {
  background-color: #5a65c9 !important;
}

.el-radio__input.is-checked .el-radio__inner {
  background-color: #538aef !important;
  border-color: #538aef !important;
}

.el-date-editor--daterange.el-input {
  width: 300px !important;
}
